@font-face {
  font-family: MyriadArabic;
  src: url(../font/ArbFONTS-4_C8.ttf);
}

body {
  font-family: MyriadArabic;
  direction: rtl;
  text-align: right;
}

body.light {
  background-color: #fff;
}

body.dark {
  background-color: #070e2b;
}

.pretty {
  position: relative;
  display: inline-block;
  margin-right: 0em;
  white-space: nowrap;
  line-height: 1;
}

.pretty.p-switch .state label:after {
  background-color: #fff !important;
}

.pretty .state label:after,
.pretty .state label:before {
  content: '';
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid transparent;
  z-index: 0;
  position: absolute;
  left: 0;
}

.pretty.p-switch .state label:after,
.pretty.p-switch .state label:before {
  left: 0;
}

.pretty.p-switch .state:before {
  left: 0;
}

.pretty .state label {
  min-width: calc(11em + 2px);
}

.pretty.p-switch .state:before {
  content: '';
  border: 1px solid #bdc3c7;
  border-radius: 60px;
  width: 2em;
  box-sizing: unset;
  height: calc(0.8em + 2px);
  position: absolute;
  top: 1px !important;
  top: calc((0% - (100% - 1em)) - 16%);
  z-index: 0;
  transition: all .5s ease;
}

.pretty .state label:after,
.pretty .state label:before {
  content: '';
  width: calc(0.8em + 2px);
  height: calc(0.8em + 2px);
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid transparent;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 1px !important;
}

.month-catgry-all .col-7 {
  padding-right: 0 !important;
}

.light {
  background-color: #F0EFEB;
  /*last light*/
}

.light .img-change-dark {
  display: none;
}

.light .color-one {
  color: #148f83;
}

.light .color-two {
  color: #542854;
}

.light .pretty.p-switch .state:before {
  background: #9e9e9e;
}

.light .big-date {
  color: #148f83;
}

.light .big-date span {
  color: #542854;
}

.light nav .navbar-nav .nav-item .nav-link {
  color: #0d7b70 !important;
}

.light nav .nav-item.active .nav-link {
  color: #000 !important;
}

.light .today {
  color: #148f83;
}

.light .today span {
  color: #542854;
}

.light .day-in-week {
  color: #148f83;
}

.light .day-in-week span {
  color: #542854;
}

.light .now-time {
  color: #148f83;
}

.light .day-month {
  background-color: #542854;
  color: #fff;
}

.light .day-month .day {
  color: #148f83;
}

.light .bg-month-desc:nth-child(odd) {
  background-color: #542854 !important;
  color: #fff;
}

.light .bg-month:nth-child(odd) {
  background-color: #148f83 !important;
  color: #fff;
}

.light .bg-month-desc:nth-child(even) {
  background-color: #542854 !important;
  color: #fff;
}

.light .bg-month:nth-child(even) {
  background-color: #2c7aa2 !important;
  color: #fff;
}

.light .sec-2 {
  color: #148f83;
}

.light .sec-2 button {
  background-color: #148f83;
}

.light #side-nav .pretty.p-switch .state label {
  color: #0d7b70 !important;
  font-size: 15px;
}

.light .splash-screen {
  background-color: #fff;
}

.light .loader {
  border-top-color: #0d7b70;
}

.light .loader:before {
  border-top-color: #542854;
}

.light .loader:after {
  border-top-color: #148f83;
}

.light #close-side {
  color: #148f83;
  border: 2px solid #542854;
}

.light #bar {
  color: #148f83 !important;
  border: 2px solid #542854;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 4444;
}

.light #side-nav {
  background-color: #fff;
}

.light #side-nav .pretty.p-switch .state label {
  text-indent: 0;
}

.light #side-nav .nav-link {
  color: #0d7b70;
}

.light #side-nav .active .nav-link {
  color: #000;
}

.light .btn-convert button {
  background-color: #542854;
}

.light .bottom-inp {
  background-color: #d3c7d3;
}

.light .box-inp {
  background-color: #ad98ad;
}

.light .color-label {
  color: #542854 !important;
}

.light .sec-3 .data-preview p span {
  color: #542854;
}

.light .sec-3 .new-ramadan span {
  color: #542854;
}

.light .month-data {
  color: #542854 !important;
}

.light .ramadan-feture p {
  color: #542854;
}

.light .ramadan p {
  color: #542854 !important;
}

.light .month-calender-one {
  color: #542854;
}

.light .month-calender-two {
  color: #0d7b70;
}

.light #calender .bg-calender-one {
  background-color: #542854;
  color: #fff;
}

.light #calender .bg-calender-two {
  background-color: #148f83;
  color: #fff;
}

.light .layerThree button {
  background-color: #542854;
}

.light .desc {
  color: #542854;
}

.light .sec-2 {
  background-color: #f6f3f6;
  background-image: none !important;
  background-position: none !important;
  background-size: none !important;
  background-repeat: none !important;
}

.light .layerRamadan button {
  background-color: #542854;
}

.dark {
  background-color: #070e2b;
  /*last dark*/
}

.dark .color-two {
  color: #fef166;
}

.dark .color-one {
  color: #fff;
}

.dark .pretty.p-switch .state:before {
  background: #fff;
}

.dark .big-date {
  color: #fff;
}

.dark .big-date span {
  color: #fef166;
}

.dark nav .navbar-nav .nav-item .nav-link {
  color: #fff !important;
}

.dark nav .nav-item.active .nav-link {
  color: #fef166 !important;
}

.dark .today {
  color: #fff;
}

.dark .today span {
  color: #fef166;
}

.dark .day-in-week {
  color: #fff;
}

.dark .day-in-week span {
  color: #fef166;
}

.dark .now-time {
  color: #fff;
}

.dark .day-month {
  background-color: #148f83;
  color: #fff;
}

.dark .day-month .day {
  color: #fef166;
}

.dark .img-change-light {
  display: none;
}

.dark .bg-month-desc:nth-child(odd) {
  background-color: #2c7aa2 !important;
  color: #fff;
}

.dark .bg-month:nth-child(odd) {
  background-color: #148f83 !important;
  color: #fff;
}

.dark .bg-month-desc:nth-child(even) {
  background-color: #148f83 !important;
  color: #fff;
}

.dark .bg-month:nth-child(even) {
  background-color: #2c7aa2 !important;
  color: #fff;
}

.dark .desc {
  color: #fef166;
}

.dark .sec-2 {
  color: #fff;
}

.dark .sec-2 button {
  background-color: #fef166;
  color: #070e2b;
}

.dark .sec-2 {
  background-image: url(../img/sec-2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none !important;
}

.dark #side-nav .pretty.p-switch .state label {
  color: #fff !important;
  font-size: 15px;
}

.dark .splash-screen {
  background-color: #070e2b;
}

.dark .loader {
  border-top-color: #fef166;
}

.dark .loader:before {
  border-top-color: #fff;
}

.dark .loader:after {
  border-top-color: #fef166;
}

.dark #close-side {
  color: #fef166;
  border: 2px solid #fff;
}

.dark #side-nav {
  background-color: #070e2b;
}

.dark #bar {
  color: #fef166 !important;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 55555;
}

.dark #side-nav .pretty.p-switch .state label {
  text-indent: 0;
}

.dark #side-nav .nav-link {
  color: #fff;
}

.dark #side-nav .active .nav-link {
  color: #fef166;
}

.dark .btn-convert button {
  background-color: #fef166;
  color: #070e2b;
}

.dark .bottom-inp {
  background-color: #4f503c;
}

.dark .color-label {
  color: #fef166 !important;
}

.dark .box-inp {
  background-color: #7d7b47;
}

.dark .sec-3 h5 {
  color: #fef166;
}

.dark .sec-3 .ramadan-future {
  color: #fff !important;
}

.dark .sec-3 .data-preview p {
  color: #fef166;
}

.dark .sec-3 .data-preview p span {
  color: #fff;
}

.dark .sec-3 .new-ramadan {
  color: #fff;
}

.dark .sec-3 .new-ramadan span {
  color: #fef166;
}

.dark .month-data {
  color: #fff !important;
}

.dark .ramadan-feture p {
  color: #fff;
}

.dark .ramadan p {
  color: #fef166;
}

.dark .month-calender-one {
  color: #fef166;
}

.dark .month-calender-two {
  color: #148f83;
}

.dark #calender .bg-calender-one {
  background-color: #717a45;
  color: #fff;
}

.dark #calender .bg-calender-two {
  background-color: #148f83;
  color: #fff;
}

.dark .layerThree button {
  background-color: #fef166;
  color: #070e2b;
}

.dark .layerRamadan button {
  background-color: #fef166;
  color: #070e2b;
}

header .container {
  height: 100%;
  position: relative;
}

header .time-now {
  position: absolute;
  bottom: 20% !important;
  text-align: center;
  width: 100% !important;
}

header nav .nav-link {
  font-size: 13px;
}

.day-month {
  color: #fff;
  font-weight: 900;
}

.bg-light {
  background-color: transparent !important;
}

.pretty.p-switch.p-fill input:checked ~ .state:before {
  border-color: #fef166;
  background-color: #fef166 !important;
}

.pretty.p-switch.p-fill input:checked ~ .state label:after {
  background-color: #fff !important;
  left: 1.2em;
  top: 2px !important;
}

header {
  background-image: url(../img/back-1.png);
  background-size: cover;
  height: 100vh !important;
  width: 100%;
  background-repeat: no-repeat;
}

.date-head {
  font-weight: 700;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.date-head .month {
  font-weight: 900;
  font-size: 100px;
}

.date-formate {
  font-size: 18px;
  margin-top: 20px;
}

.day-head {
  font-size: 18px;
  margin-top: 20px;
}

.month-catgry {
  font-weight: 700;
}

.month-data {
  font-weight: 700;
}

.day-month {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
}

.day-month .day {
  font-weight: 900;
  position: absolute;
  top: -40px;
  right: 15px;
  font-size: 50px;
}

.border-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.border-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.border-15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.img-date {
  height: 100px !important;
}

.bg-month-desc {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-month {
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -ms-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
}

.alg {
  width: 150px;
  height: 70px !important;
}

.alg2 {
  width: 150px;
  height: 100px !important;
}

.layers .layerOne {
  background-image: url(../img/back-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.layers .layerTWO {
  background-image: url(../img/back-3.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.desc {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.sec-2 h2 {
  font-size: 30px !important;
}

.sec-2 p {
  font-size: 18px !important;
}

.sec-2 button {
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.layers2 .layerThree {
  background-image: url(../img/folder.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.layerThree button {
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button {
  border: none;
}

.layers3 .layerRamadan {
  background-image: url(../img/ramadan-sec.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.layers3 button {
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#calender .calendar .colum .row .col {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
}

#calender .calendar .colum .row .col sub {
  color: #fef166;
}

#calender .calendar .colum .col:not(:last-of-type) {
  border-left: 1px solid #fff;
  text-align: center;
}

#calender .calendar .colum .col {
  text-align: center;
}

.month-calender {
  margin-bottom: 5px;
}

.ramadan {
  /*
     p{
          font-size:30px !important;

     }*/
}

.ramadan-feture {
  /*  p{
          font-size:30px !important;

     } */
}

.m-all-now {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-3 h5 {
  font-size: 20px;
}

.sec-3 .ramadan-future {
  font-size: 14px;
  padding-right: 30px;
}

.sec-3 .data-preview p {
  font-size: 150px !important;
  font-weight: 500 !important;
}

.sec-3 .new-ramadan span {
  color: #542854;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sec-3 .data-preview p {
    font-size: 130px !important;
  }
  header {
    height: 66vh;
  }
}

@media (min-width: 767px) and (max-width: 768px) {
  .sec-3 .data-preview p {
    font-size: 80px !important;
  }
  .bg-month {
    font-size: 10px;
  }
  .bg-month-desc {
    font-size: 13px;
  }
  header {
    height: 50vh;
  }
  .date-head {
    font-size: 30px !important;
  }
  .navbar-light .navbar-toggler {
    color: red;
    border-color: red;
  }
}

.m-left-all {
  margin-left: auto;
}

.month-catgry-all .col-2 {
  -ms-flex: 0 0 12.666667%;
  flex: 0 0 12.666667%;
  max-width: 12.666667%;
}

@media (max-width: 700px) {
  .bg-month {
    font-size: 10px;
  }
  .bg-month-desc {
    font-size: 13px;
  }
  .sec-2 h2 {
    font-size: 30px !important;
  }
  .sec-2 p {
    font-size: 12px !important;
  }
  .dark .desc {
    font-size: 12px !important;
  }
  .layers2 button {
    font-size: 14px !important;
  }
  .layers2 p {
    font-size: 14px !important;
  }
  .sec-3 .data-preview p {
    font-size: 70px !important;
  }
  .alg {
    height: auto !important;
  }
  .alg2 {
    height: auto !important;
    font-size: 13px;
  }
  .alg {
    height: auto !important;
    font-size: 13px;
  }
  .bg-month {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
  }
  .month-catgry-all .col-2 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
  .month-catgry-all .col-2 {
    position: relative;
    top: 10px;
    z-index: 333;
    flex: 0 0 25%;
    margin: auto;
    max-width: 25%;
  }
  .month-catgry-all .col-2 .alg {
    height: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .month-catgry-all .col-7 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
    margin: auto;
  }
  .month-catgry-all .col-7.ml-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .navbar-light .navbar-toggler {
    color: red;
    border-color: red;
  }
  header {
    height: 60vh;
  }
  .month-catgry {
    margin-top: 20px;
    font-size: 20px;
  }
  .date-head {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .date-head .month {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .day-month {
    color: #fff;
    font-weight: 900;
  }
  .date-formate {
    font-size: 14px;
  }
  .navbar-light .navbar-toggler {
    color: red;
    border-color: red;
    position: relative;
    display: none;
  }
  .day-head {
    margin-top: 10px !important;
    font-size: 15px;
    margin-bottom: 10px !important;
  }
  .time-now {
    position: absolute;
    bottom: 10% !important;
    text-align: center;
    width: 100% !important;
  }
  .img-date img {
    height: 170px !important;
    width: 170px !important;
  }
}

@media (max-width: 700px) {
  .navbar-light .navbar-toggler {
    color: red;
    border-color: red;
    position: relative;
  }
  nav.px-5 {
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url() !important;
}

.en {
  padding-top: 12px;
}

@media (max-width: 1024px) {
  .dark .desc {
    font-size: 14px !important;
  }
}

@media (min-width: 765px) and (max-width: 800px) {
  #calender .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.h-img {
  height: 100px;
}

.h-img img {
  height: 150px;
  width: 150px;
}

.big-date {
  font-size: 40px;
  margin-top: 15px;
}

.big-date span {
  font-size: 100px;
}

.today {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.day-in-week {
  margin-top: 10px;
  font-size: 18px;
}

.now-time {
  position: absolute;
  bottom: 20%;
  width: 90%;
  text-align: center;
  margin: auto;
}

@media (min-width: 767px) and (max-width: 768px) {
  .hagre-img img {
    width: 200px;
    height: 283px !important;
    position: relative;
    top: -54px;
  }
  .meladi-img img {
    height: 100px !important;
  }
  header {
    height: 55vh !important;
  }
  .big-date {
    font-size: 25px;
  }
  .big-date span {
    font-size: 70px;
  }
  .today {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hagre-img img {
    width: 200px;
    height: 283px !important;
    position: relative;
    top: -54px;
  }
  .meladi-img img {
    margin-top: -54px;
    height: 250px !important;
  }
  header {
    height: 40vh !important;
  }
  .big-date {
    font-size: 40px;
  }
  .big-date span {
    font-size: 90px;
  }
  .today {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .color-label {
    font-size: 11px;
  }
  .hagre-img img {
    width: 200px;
    height: 200px !important;
    position: relative;
    top: -30px;
  }
  .meladi-img img {
    height: 100px !important;
  }
  header {
    height: 60vh !important;
  }
  .big-date {
    font-size: 18px;
  }
  .big-date span {
    font-size: 50px;
  }
  .today {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media (max-width: 400px) {
  .hagre-img img {
    height: 200px !important;
    position: relative;
    top: -30px;
  }
  header {
    height: 70vh !important;
  }
  .big-date {
    font-size: 15px;
  }
  .big-date span {
    font-size: 30px;
  }
  .today {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

.sec-convert-2 ul {
  list-style: none;
  line-height: 45px;
  padding: 0;
  margin: 0;
}

.bottom-inp,
.box-inp {
  height: 70px;
}

@media (min-width: 768px) {
  .convert .row {
    width: 60%;
    margin: auto !important;
  }
  .light .color-label {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .convert .row {
    width: 50%;
    margin: auto !important;
  }
  .light .color-label {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .convert .row {
    width: 50%;
    margin: auto !important;
  }
}

.btn-convert button {
  color: #fff;
  font-size: 14px;
}

.btn-convert button {
  background-color: #fef166;
}

input[type="text"] {
  outline: none;
  border: none;
  color: #fff;
}

@media (max-width: 700px) {
  .sec-convert-2 ul li {
    font-size: 12px !important;
  }
}

#bar {
  position: absolute;
  top: 2%;
  left: 5%;
  color: #542854 !important;
  z-index: 4444;
  display: none;
}

#side-nav .pretty.p-switch .state label {
  text-indent: 0;
}

#side-nav .nav-link {
  font-size: 14px !important;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#side-nav {
  left: -300px;
  position: fixed;
  height: 100vh;
  z-index: 99999;
}

@media (max-width: 768px) {
  #side-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: -100%;
    width: 35%;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  #side-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: -100%;
    width: 60%;
    max-width: 100%;
    z-index: 99999;
  }
}

@media (max-width: 768px) {
  #side-nav ul {
    margin-top: 30px;
  }
  #bar {
    display: block;
  }
}

.navbar .navbar-toggler {
  display: none !important;
}

ul {
  padding-inline-start: 5px !important;
}

#close-side {
  position: absolute;
  left: 4%;
  top: 2%;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 300px) {
  #side-nav {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999999 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.no-js .splash-screen {
  display: none;
}

.loaded .splash-screen {
  visibility: hidden;
  -webkit-transition: all 0.3s 0.6s ease-out;
  -o-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

.loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0d7b70;
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 99999999999999999999999 !important;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #542854;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #148f83;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loaded .loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hagre-img img {
  width: 200px;
  height: 283px !important;
  position: relative;
  top: -54px;
}

.month-catgry {
  margin-top: 35px !important;
}

.now-time {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center !important;
  margin: auto;
  padding-right: 30px !important;
}

input[type=text], input[type=number] {
  text-align: center;
  font-size: 35px;
}

.top-meladi {
  margin-top: 35px !important;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .now-time {
    top: 18%;
  }
}

@media (min-width: 767px) and (max-width: 768px) {
  .now-time {
    top: 30%;
  }
}

@media (max-width: 767px) {
  .now-time {
    padding-right: 0px !important;
  }
  .top-meladi {
    margin-top: 15px !important;
  }
  .big-date {
    margin-top: 33px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  header {
    height: 60vh !important;
  }
  .now-time {
    top: 27%;
  }
}
